*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-family: "Nunito", sans-serif;
  color: white;
  line-height: 1.5;
}

html{
  height: 100%;
}

.displayNone{
  display: none;
}

body{
  /* This will dictate the entire page width */
  width: 100%;
  background: black;
}

.width100{
  width: 100%;
}

.centerText{
  text-align: center;
}

.centerFlex{
  display: flex;
}

.centerFlexAlignCenter{
  display: flex;
  align-items: center;
}

.centerFlexSpaceEvenly{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.centerFlexSpaceBetween{
  display: flex;
 
  justify-content: space-between;
}

.main{
  background-color: black;
  height: 100vh;
}

.logo{
  width: 7em;
}

.homePage{
  padding: 1em;
  height: 100vh;

}

.halfSidePadding{
  padding-left: .5em;
  padding-right: .5em;
}

.left1padding{
  padding-left: 1em;
}

.smallerText{
  font-size: 8px;
}

.removeUnderline{
  text-decoration: none;
}