*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-family: "Nunito", sans-serif;
  
  color: white;
}

.main{
  background-color: black;
  height: 100vh;
}

.logo{
  width: 10em;
}

.homePage{
  padding: 1em;
}